.docs {
  &#main-wrapper {
    display: flex;
    align-items: stretch;
    font-size: 16px;
  }

  .text-secondary{
    &:hover{
      color: rgba($secondary, 0.8) !important;
    }
  }

  .text-warning{
    &:hover{
      color: rgba($warning, 0.8) !important;
    }
  }

  .text-success{
    &:hover{
      color: rgba($success, 0.8) !important;
    }
  }

  .text-danger{
    &:hover{
      color: rgba($danger, 0.8) !important;
    }
  }


  .topbar-search{
    .dropdown-menu{
      min-width: 260px;
      padding: 8px;
      overflow-y: auto;

      li{
        a{
          color: $muted;
          padding: 6px 14px;
          display: block;
          border-radius: 4px;

          &:hover{
            background-color: rgba($color: $dark, $alpha: 0.1);
            color: $dark;
          }
        }
      }
    }
  }
  

  
  .left-sidebar {
    width: 270px;
    flex-shrink: 0;
    position: fixed;
    left: 0;
    border-right: 1px solid $border-color;
    height: 100vh;  
    transition: all 0.2s linear;
    z-index: 9999;
    background-color: $white;
    #sidebarnav {
      padding: 20px;
      .collapse.in {
        display: block;
      }

      .nav-small-cap {
        padding: 10px 12px;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        font-size: 12px;
        color: $dark;
      }
      .sidebar-item {
        margin-bottom: 5px;
        .has-arrow {
          &::after {
            position: absolute;
            content: "";
            width: 8px;
            height: 8px;
            border-width: 2px 0 0 2px;
            border-style: solid;
            border-color: $muted;
            margin-left: 10px;
            -webkit-transform: rotate(225deg) translate(0, -50%);
            -ms-transform: rotate(225deg) translate(0, -50%);
            -o-transform: rotate(225deg) translate(0, -50%);
            transform: rotate(225deg) translate(0, -50%);
            -webkit-transform-origin: top;
            -ms-transform-origin: top;
            -o-transform-origin: top;
            transform-origin: top;
            top: 22px;
            right: 15px;
            -webkit-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
          }
          &.active {
            &::after {
              -webkit-transform: rotate(45deg) translate(0, -50%);
              -ms-transform: rotate(45deg) translate(0, -50%);
              -o-transform: rotate(45deg) translate(0, -50%);
              transform: rotate(45deg) translate(0, -50%);
              border-color: $white;
              top: 25px;
            }
          }
        }
        .nav-link {
          position: relative;
          padding: 12px 12px;
          color: $muted;
          font-weight: $font-weight-medium;
          font-size: 14px;
          .badge {
            position: absolute;
            right: 12px;
            top: 15px;
            line-height: 12px;
          }
          &.has-arrow {
            .badge {
              right: 27px;
            }
          }
          &.active {
            color: $white;
          }
          &:hover {
            background-color: rgba($color: $dark, $alpha: 0.1);
            color: $dark;
            &.has-arrow {
              &::after {
                border-color: $dark;
              }
              &.active {
                &::after {
                  border-color: $dark;
                }
              }
            }
          }
        }
        .sub-link {
          &:hover {
            background-color: transparent;
            color: $dark;
          }
          &.active {
            background-color: transparent;
            color: $dark;
          }
        }
      }
    }
  }
  .page-wrapper {
    margin-left: 270px;
    width: 100%;
    .container-fluid {
      max-width: 1000px;
      margin: 0 auto;
      padding: 15px;
    }
  }

 

  .card {
    border: 1px solid $border-color;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
  }
  pre {
    display: grid;
    margin: 15px 0 0;
    code.hljs {
      border-radius: $border-radius-md;
    }
  }
}

//
// Form Bootstrap Datepicker
//

body {

  .datepicker table tr td.active,
  .datepicker table tr td.active.disabled,
  .datepicker table tr td.active.disabled:hover,
  .datepicker table tr td.active:hover,
  .datepicker table tr td.today,
  .datepicker table tr td.today.disabled,
  .datepicker table tr td.today.disabled:hover,
  .datepicker table tr td.today:hover,
  .datepicker table tr td.selected,
  .datepicker table tr td.selected.disabled,
  .datepicker table tr td.selected.disabled:hover,
  .datepicker table tr td.selected:hover {
    background-color: var(--bs-primary) !important;
    background-image: unset;
    color: $white;
  }

  .datepicker table tr td.day.focused,
  .datepicker table tr td.day:hover,
  .datepicker table tr td.range,
  .datepicker table tr td.range.disabled,
  .datepicker table tr td.range.disabled:hover,
  .datepicker table tr td.range:hover {
    background: var(--bs-gray-100);
  }
}

.datepicker .day,
.datepicker .dow {
  padding: 5px 10px;
}

//
// Form material-datepicker
//

.dtp-date {
  .material-icons {
    color: var(--bs-white) !important;
  }
}

//
// Form custom  validation
//
.error {
  .form-control {
    border-color: var(--bs-danger);
  }

  .help-block {
    color: var(--bs-danger);
  }
}

.validate {
  .form-control {
    border-color: var(--bs-success);
  }

  .help-block {
    color: var(--bs-success);
  }
}

.picker__day--infocus:hover,
.picker__day--outfocus:hover {
  background: var(--bs-primary) !important;
  color: $white !important;
}

.picker__button--today,
.picker__button--clear,
.picker__button--close {
  font-weight: 600 !important;
}

.dtp div.dtp-date,
.dtp div.dtp-time,
.dtp>.dtp-content>.dtp-date-view>header.dtp-header,
.dtp table.dtp-picker-days tr>td>a.selected {
  background: var(--bs-primary) !important;
}


//
// Datatables
//

@include media-breakpoint-up(lg) {
  .datatables {
    .table-responsive {
      overflow-x: clip;
    }
  }
}

.table-responsive {
  .dataTables_wrapper {
    .dataTables_length {
      select {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 0.5rem;
        padding-right: 0.625rem;
        font-size: 0.765625rem;
        border-radius: 5px;
        border-color: var(--bs-border-color);
      }
    }

    .dataTables_filter {
      margin-bottom: 25px;

      input {
        padding: 0.25rem 0.5rem;
        font-size: 0.765625rem;
        border-radius: 5px;
        border: 1px solid var(--bs-border-color);
      }
    }

    .dataTables_paginate {
      .paginate_button {
        cursor: pointer;
        padding: 6px 12px;
        border: 1px solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        margin: 0 3px;

        .previous {
          border-radius: 7px 0 0 7px;
          background-color: var(--bs-gray-200);
        }

        &.current {
          color: $white;
          background-color: var(--bs-primary);
          border-color: var(--bs-primary);
        }
      }
    }
  }
}


@include media-breakpoint-down(lg) {
  .docs {
    .left-sidebar {
      left: 0px;
    }
    .page-wrapper {
      margin-left: 0;
      padding-top: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  .docs {
    .page-wrapper .container-fluid {
      padding-top: 70px;
    }
  }
}
